{% extends 'backend/base.html' %}

{% block content %}
    <div class="container box">
    
        {% if texto.imagem %}
        <div class="image">
            <img class="is-3by1 mb-4" src="{{ texto.imagem.url }}" alt="{{ texto.titulo }}" />
        </div>
        {% endif %}
        
        <div class="mx-4">
            <p class="title has-text-centered">{{texto.titulo}}</p>
            <p class="content">{{texto.conteudo | safe}}</p>
        </div>
    
    </div>
    
{% endblock content %}