{% extends 'backend/base.html' %}

{% block content %}
    <div class="container box">
    {% if latest_posts %}
        <ul>
        {% for post in latest_posts %}
        <div class="tile mb-6">
        {% if post.imagem %}<div class="image">
                <a href="{{post.get_absolute_url}}">
                    <img class="is-3by4" src="{{ post.imagem.url }}" alt="{{ post.titulo }}" />
                </a>
            </div>{% endif %}
            
            <div class="mx-4">
                    <p class="title"><a href="{{post.get_absolute_url}}">{{post.titulo}}</a></p>
                <p>{{post.descricao}}</p>
            </div>
                    
        </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum post disponivel</p>
    {% endif %}
    </div>
{% endblock content %}
