{% extends 'backend/base.html' %}
{% load static %}
{% block content %}
    <div class="container box is-link">
        
            <div class="tile">
                <div>
                    <p class="title">Sobre Mim</p>
                    <p>Oceanógrafa com uma gota de tinta
Coral Daia é o pseudônimo de Caroline Dias Gabani. Nascida em São Paulo, fez Oceanografia em Santos-SP e agora é mestranda em Oceanografia Biológica na FURG, Rio Grande-RS. Escreve desde os 11 anos a respeito dos mais diversos gêneros: fantasia medieval, romance policial, drama, ficção científica e terror. 
Coral Daia se inspira naquilo que tangencia as narrativas, nas histórias não contadas e nos diferentes pontos de vista.</p>
                </div>
                <div class="is-3by4">
                    <img src="{% static 'backend/img/coral.jpg' %}" />
                </div>
            </div>
        </nav>
    </div>
{% endblock content %}